main{background-color: #0f1633; text-align:center; border: 5px solid #00BFFF}
h2{text-align:center; color: #B8860B; font-size: 40px}
h1{text-align:center; color: #FFFFFF}
p{text-align:center; color: #FFFFFF}
header{background-color: #111a3d; border: 5px solid #00BFFF}
a{font-size: 30px}
footer{background-color: #111a3d; border: 5px solid #00BFFF}
body{background-color: #0f1633}

